<head>
  <meta name="description" content="Web site of Sakura IT - vendor of products for retro computers" />
  <meta name="keywords" content="sakura it, sakura, amiga, retro, pcmcia, sram, floppy, decelerator, amiv" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">

  <!-- Icons 
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
  -->
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>

