    <header>
      <div id="logo">
        <div id="logo_text">
          <a href="http://sakura-it.pl/index.php"><img src="http://sakura-it.pl/images/sakuralogo.png" width="250" alt="Sakura IT"/></a>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li><a href="http://sakura-it.pl/index.php">Home</a></li>
          <li><a href="http://sakura-it.pl/products.php">Products</a></li>
          <li><a href="http://sakura-it.pl/contact.php">Contact Us</a></li>
        </ul>
      </nav>
    </header>

